<div class="text-center m-4">
    <h3>Ovog vikenda pravimo izvidjacku akciju!</h3>
    <h4>Baš bi želeli da vaš mališan učestvuje u njoj</h4>
    <a class="btn btn-primary" asp-action="Odgovor">Prijavi prisustvo</a>
</div>
